
* {
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: inherit;
    span,
    &:hover {
      color: $orange;
    }
  }
}

#wrapper {
  overflow: hidden;
  margin-bottom: 40px;
}

body {
  background-attachment: scroll;
  background-image: url("../img/DG_bkgd.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

h1,
.innerContent,
.name,
.nav {
  letter-spacing: $letter-space-wide;
}


h1 {
  font-family: $font-family--secondary; 
  font-size: font-hierarchy(type-size, head);
  font-weight: $font-weight--medium; 
  color: palette(orange, light);    
  text-align: left; 
}

p {
  text-align: left;
  font-family: $font-family--secondary;
  font-size: font-hierarchy(type-size, base);
  line-height: font-hierarchy(line-height, base);
}

body,
header,
.nav,
.work {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

body.no-touch .innerContent:hover .title-box, body.touch .innerContent.touchFocus .title-box {
   margin-bottom: 0;
}

.innerContent,
.name {
  font-family: $font-family--primary;
  text-transform: uppercase;
  font-weight: $font-weight--light;
  line-height: 20px;
}

.nav {
  max-width: 780px;
  height: 100%;
  font-weight: $font-weight--medium;
  margin-top: 1.5%;
  display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
  li {
    margin: 0 2em;
  }
}

.rule1,
.rule2 {
  @include rule;
}

.rule1 {
  background: $purple;
}

.rule2 {
  background: $grey;
  height: 1px;
  margin-bottom: 20px;
}

.name {
  color: $purple;
}

footer {
  height: 200px;  
  width: 100%;
  background: palette(grey, light);
  margin: 5% auto 0 auto;
}