// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google-primary        : 'http://fonts.googleapis.com/css?family=Lato:300,400,700';
$font-family--primary   		 : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-url--google-secondary		 : 'http://fonts.googleapis.com/css?family=Bitter:400,700,400italic';	
$font-family--secondary 		 : 'Bitter', Baskerville, Times, serif;

// Font Weights

$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;

// Descriptive Base Colors

$white    : #fff;
$black    : #0b0b0b;
$grey     : #909090;

$purple  : #660066;
$orange  : #F60;

// Color Usage

$color-primary   : $purple;
$color-secondary : $orange;

// Color Palette Modifiers

$palettes: (
  	purple: (
    	light    : lighten($purple, 30%),
    	base     : $purple
  	),
	orange: (
		light    : lighten($orange, 20%),
		base     : $orange
	),
	grey: (
		light 	 : lighten($grey, 35%),
		base 	 : $grey
	)
);

// Text

$base__font-size : 1em;
$base__line      : 2em;

$font-hierarchies: (
	type-size: (
		head	: $base__font-size * 3,
		base 	: $base__font-size
	),
	line-height: (
		head	: $base__line * 3,
		base 	: $base__line
	)
);

$letter-space-wide	: 1.5px;

// Path to Assets

$path--rel       : "../img";