
.header-nav {
  ul {
    text-align: center;
    @include responsive-style-at(vp-768) {
      text-align: right;
    }
    li {
      @extend %headline-lato;
      margin: 0 .5rem;
      font-size: .75rem;
      @include responsive-style-at(vp-480) {
        display: inline-block;
      }
      a {
        color: $grey;
        &:hover {
          color: color-from($colors, orange, light);
        }
      }
    }
  }
}