
* {
  box-sizing: border-box;
}

body {
  @extend %body-bitter;
}

h1,
h2 {
  @extend %headline-lato;
  margin: 0;
}

p {
  @extend %body-bitter;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
}

img {
  // overflow: hidden;
}

.home-intro {
  height: 100vh;
  background-color: color-from($colors, purple, dark);
  .intro-outer {
    display: table;
    width: 70%;
    text-align: center;
    margin: auto;
    height: 100%;
    .intro-inner {
      display: table-cell;
      vertical-align: middle;
      color: $white;
    }
  }
}

.work-preview {
  height: 100vh;
  background-color: color-from($colors, grey, dark);

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;

    li {
      height: 50%;
      width: 25%;
      background-color: $purple;
      border: 1px solid #FFF;
    }
  }
}

.about-me {
  height: 100vh;

  .about-container {
    display: flex;
    flex-direction: row;
    height: 100%;

    .portrait {
      height: 100%;
      width: 30%;
      overflow: hidden;
      img {
        height: 100%;
        width: auto;
      }

    }
  }
}

.footer {
  height: 20rem;
  background-color: color-from($colors, purple, dark);
}