
* {
  box-sizing: border-box;
}

body {
  @extend %body-bitter;
}
h1,
h2 {
  @extend %headline-lato;
  margin: 0;
  text-transform: uppercase;
}
p {
  @extend %body-bitter;
  margin: 0;
}
section {
  width: 100%;
}
ul {
  list-style: none;
}

.home-intro {
  height: 100vh;
  background: $purple;
}