
$light-grey             : color(grey, light);
$grey                   : color(grey);
$dark-grey              : color(grey, dark);

$light-purple           : color(purple, light);
$purple                 : color(purple);
$dark-purple            : color(purple, dark);

$light-orange           : color(orange, light);
$orange                 : color(orange);
$dark-orange            : color(orange, dark);
