
<header>
  <div class="header-branding">
      <% link_to '/index.html' do %>
        <img src="/assets/images/logo1b.png">
      <% end %>
  </div>
  <nav class="work-nav">
    <div class="nav-toggle">
      <img src="/assets/images/menu-1.png">
    </div>
  </nav>
<!--   <nav class="header-nav">
    <ul>
      <li class="firstnav-child branding-state">
        <a href="">Work</a>
      </li>
      <li class="collateral-state">
        <a href="">About</a>
      </li>
      <li class="lastnav-child other-state">
        <a href="">Contact</a>
      </li>
    </ul>
  </nav> -->
</header>