
<!DOCTYPE html>
<html>

  <%= partial "partials/head" %>

  <body class="<%= current_page.data.page_class %>">
    <div class="wrap">


      <div class="content-wrap">

        <%= yield %>

      </div>


    </div>
  </body>
</html>