---
title: gertzdesign home
page_class: index
---

<section class="home-intro">
  <!-- <div class="intro-outer">
    <div class="intro-inner">
      <div class="home-branding">
        <img src="/assets/images/logo1b.png">
      </div>
      <h2>Dana Gertz &#183; Designer</h2>
    </div>
  </div> -->
</section>

<section class="work-preview">
 <!--  <div class="work-container"> -->
    <ul>

      <!-- < % data.asset_pages.socialassets.each_with_index do |asset, index| % > -->
        <li>
          <div class="content-unit">
            <% link_to '/work.html' do %>
              <img src="/assets/images/mille-fleur.jpg">
            <% end %>
          </div>
        </li>
      <!-- < % end % > -->
        <li>
          <div class="content-unit">
            <% link_to '/work.html' do %>
              <img src="/assets/images/mille-fleur.jpg">
            <% end %>
          </div>
        </li>

        <li>
          <div class="content-unit">
            <% link_to '/work.html' do %>
              <img src="/assets/images/mille-fleur.jpg">
            <% end %>
          </div>
        </li>

        <li>
          <div class="content-unit">
            <% link_to '/work.html' do %>
              <img src="/assets/images/mille-fleur.jpg">
            <% end %>
          </div>
        </li>

        <li>
          <div class="content-unit">
            <% link_to '/work.html' do %>
              <img src="/assets/images/mille-fleur.jpg">
            <% end %>
          </div>
        </li>

        <li>
          <div class="content-unit">
            <% link_to '/work.html' do %>
              <img src="/assets/images/mille-fleur.jpg">
            <% end %>
          </div>
        </li>

        <li>
          <div class="content-unit">
            <% link_to '/work.html' do %>
              <img src="/assets/images/mille-fleur.jpg">
            <% end %>
          </div>
        </li>

        <li>
          <div class="content-unit">
            <% link_to '/work.html' do %>
              <img src="/assets/images/mille-fleur.jpg">
            <% end %>
          </div>
        </li>

    </ul>
  <!-- </div> -->
</section>

<section class="about-me">
  <div class="about-container">
    <div class="portrait">
      <img src="/assets/images/aboutme-1.jpg">
    </div>
    <p></p>
  </div>
</section>

<%= partial "partials/footer" %>