---
title: gertzdesign home
page_class: index
---

<!-- <header>
  <div class="header-branding">
      <a href="">
        <img src="/assets/images/logo1b.png">
      </a>
  </div>
  <nav class="header-nav">
    <ul>
      <li class="firstnav-child branding-state">
        <a href="">Work</a>
      </li>
      <li class="collateral-state">
        <a href="">About</a>
      </li>
      <li class="lastnav-child other-state">
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>
</header> -->

<section class="home-intro">
  <div class="intro-outer">
    <div class="intro-inner">
      <div class="home-branding">
        <img />
      </div>
      <h2>Dana Gertz &#183; Designer</h2>
    </div>
  </div>
</section>

<section class="work-preview">
 <!--  <div class="work-container"> -->
    <ul>

      <!-- < % data.asset_pages.socialassets.each_with_index do |asset, index| % > -->
        <li>
          <div class="content-unit">

          </div>
        </li>
      <!-- < % end % > -->

    </ul>
  <!-- </div> -->
</section>

<section class="about-me">
  <div class="about-container">
    <img />
    <p></p>
  </div>
</section>

<section class="footer">
  <p></p>
  <img />
</section>
