---
title: gertzdesign home
page_class: index
---

<!--
<div class="intro-home">
  <h1>Welcome to the designcave!</h1><p>This is SimpleReach’s official resource center to house all branding guidelines, client and internal collateral.</p>
</div>
<ul class="landing-largenav">

  <% data.landing.home_items.each_with_index do |home_item, index| %>
    <li>
      <% link_to home_item.link do %>
        <div class="landing-outer">
          <div class="landing-inner">
            <div class="landing-content">

              <%= home_item.name %>

            </div>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>

</ul> -->