---
title: gertzdesign home
page_class: index
---

<section class="home-intro">
  <!-- <div class="intro-outer">
    <div class="intro-inner">
      <div class="home-branding">
        <img src="/assets/images/logo1b.png">
      </div>
      <h2>Dana Gertz &#183; Designer</h2>
    </div>
  </div> -->
</section>

<section class="work-preview">
  <ul>

    <!-- < % data.asset_pages.socialassets.each_with_index do |asset, index| % > -->
      <li>
        <div class="content-unit">
          <% link_to '/work.html' do %>
            <img src="/assets/images/mille-fleur.jpg">
          <% end %>
        </div>
      </li>
    <!-- < % end % > -->
      <li>
        <div class="content-unit">
          <% link_to '/work.html' do %>
            <img src="/assets/images/mille-fleur.jpg">
          <% end %>
        </div>
      </li>

      <li>
        <div class="content-unit">
          <% link_to '/work.html' do %>
            <img src="/assets/images/mille-fleur.jpg">
          <% end %>
        </div>
      </li>

      <li>
        <div class="content-unit">
          <% link_to '/work.html' do %>
            <img src="/assets/images/mille-fleur.jpg">
          <% end %>
        </div>
      </li>

      <li>
        <div class="content-unit">
          <% link_to '/work.html' do %>
            <img src="/assets/images/mille-fleur.jpg">
          <% end %>
        </div>
      </li>

      <li>
        <div class="content-unit">
          <% link_to '/work.html' do %>
            <img src="/assets/images/mille-fleur.jpg">
          <% end %>
        </div>
      </li>

      <li>
        <div class="content-unit">
          <% link_to '/work.html' do %>
            <img src="/assets/images/mille-fleur.jpg">
          <% end %>
        </div>
      </li>

      <li>
        <div class="content-unit">
          <% link_to '/work.html' do %>
            <img src="/assets/images/mille-fleur.jpg">
          <% end %>
        </div>
      </li>

  </ul>
</section>

<section class="about-me">
  <div class="about-container">
    <div class="portrait">
      <img src="/assets/images/aboutme-1.jpg">
    </div>
    <div class="about-me-text">
      <h2>Hello there!</h2>

      <p>I'm Dana Gertz, a graphic designer based in NYC. In May 2012, I graduated from The College of Saint Rose in Albany, NY with a BFA in Graphic Design and a minor in Art History. I currently am employed as a Product Designer at data-focused tech startup SimpleReach, where I manage initiatives from conceptual user research all the way through to technical completion. Before this, I've had the extraordinary good luck to work with and learn from some true masters of editorial design, including Milton Glaser, Walter Bernard, and Ronn Campisi. I also have extensive experience managing and executing marketing communication for Artspace.com, and designing end-to-end collateral for charities like JDRF.</p>

      <a>email me</a>
      <a>check out the resume</a>
    </div>
  </div>
</section>

<%= partial "partials/footer" %>